*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    background:#f4f8fc;
}

nav{
    background:#0f172a;
    color:white;
    padding:20px 50px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    text-align:center;
    padding:100px 20px;
    background:linear-gradient(135deg,#2563eb,#06b6d4);
    color:white;
}

.hero h1{
    font-size:55px;
    margin-bottom:20px;
}

.hero p{
    font-size:20px;
    margin-bottom:25px;
}

.btn{
    display:inline-block;
    background:white;
    color:#2563eb;
    padding:12px 25px;
    border-radius:10px;
    text-decoration:none;
    font-weight:bold;
}

.stats{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:20px;
    padding:40px;
}

.stat-card{
    background:white;
    padding:30px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.doctors{
    padding:40px;
}

.doctors h2{
    text-align:center;
    margin-bottom:30px;
}

.doctor-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.doctor-card{
    background:white;
    padding:25px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.doctor-card:hover{
    transform:translateY(-5px);
}

footer{
    text-align:center;
    padding:25px;
}
.form-container{
    width:500px;
    max-width:90%;
    margin:50px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.form-container h2{
    margin-bottom:20px;
}

.form-container form{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.form-container input,
.form-container select{
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
}

.form-container button{
    padding:12px;
    border:none;
    border-radius:8px;
    background:#2563eb;
    color:white;
    cursor:pointer;
}
.doctor-card button{

    margin-top:10px;

    background:#dc2626;

    color:white;

    border:none;

    padding:10px 15px;

    border-radius:8px;

    cursor:pointer;
}
#searchInput{
    width:100%;
    padding:12px;
    margin-bottom:20px;
    border:1px solid #ccc;
    border-radius:8px;
}